<!DOCTYPE html>
<html>
<head>
    <title>This is a local form test.</title>
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
</head>
<body>
    <form
        class="kwes-form"
        action="/loginPage"
        has-recaptcha-v2
    >



        <div class="g-recaptcha" data-sitekey="6LdiNFAjAAAAAMbIosRSc0V1a3uq85S3qYEN6J6X"></div>

        <button type="submit">Submit</button>
    </form>

    <script src="https://kwes-script.test/js/v2/kwes.js" defer></script>
</body>
</html>
